<body class="container-login-background" style="background-image: url(https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)" data-gr-c-s-loaded="true" cz-shortcut-listen="true">
  <div class="container-login-0" >
    <h1 class=" title mb-3">Create your account</h1>
      <div class="container-login" >
         <div class="container-login-logo">
            <%= image_tag('logo.png', size: "55x70", alt: "Motbook icon", ) %>
              </div>
                <h2 class="text-center mb-3">Log in</h2>
                  <div class="row justify-content-center">
                    <div class="justify-content-center">
                      <div class="form-row">
                        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                          <%= f.error_notification %>
                            <div div class="form-inputs">
                               <%= f.input :email,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "email" }%>
                                 <%= f.input :password,
                                 required: true,
                                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                input_html: { autocomplete: "new-password" } %>
                               <%= f.input :password_confirmation,
                                required: true,
                                input_html: { autocomplete: "new-password" } %>
                              </div>
                            <div class="form-actions mb-3">
                              <%= f.button :submit, "Sign up", class: "btn btn-primary btn-signin" %>
                            </div>
                          <% end %>
                        </div>
                          <%= render "devise/shared/links" %>
                      </div>
                    </div>
                  </div>
              </div>
            </body>
