<div class="container border mt-2">
  <%= simple_form_for([@mot, @task]) do |f| %>
    <div class="row">
      <div class="col-4 pt-4">
        <%= f.input :name, label: false, error: 'A name is mandatory, please specify one' %>
      </div>
      <div class="col-2 pt-4">
        <%= f.input :delay, label: false, error: 'A delay is mandatory, please specify one' %>
      </div>
      <div class="col-4 pt-4">
        <%= f.input :description, label: false, error: 'A description is mandatory, please specify one', input_html: {rows: 1} %>
      </div>
      <div class="col-4 pt-4">
      <%= f.button :submit, class: "btn-primary", label: "ok" %>
    </div>
    </div>
  </div>
<% end %>
<hr class="my-4">
