<div id="tasks" id="mot-<%= mot.id %>">
  <% if mot.tasks.any? %>
  <% mot.tasks.each do |task| %>
  <div class="container border mt-2" data-controller="edittask" data-mot-id="<%= mot.id %>" data-task-id="<%= task.id %>" >
    <div class="row align-items-center p-3" style="height: 50px" data-target="edittask.wrapper">
      <div class="col-1">
        <% if task.delay > 0 %>
          <%= 'D+' + task.delay.to_s %>
        <% else %>
        <%=  'D' + task.delay.to_s %>
        <% end %>
      </div>
      <div class="col-1" >
        <input class="form-control custom-check" type="checkbox" <%= task.completed == true ? "checked" : "" %> data-action="click->checktask#checkboxTask" data-mot-id="<%= mot.id %>" data-task-id="<%= task.id %>">
      </div>
      <a class="col-1" data-toggle="collapse" href="#collapseExample-<%= task.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
       <i class="fas fa-caret-right"></i>
      </a>
      <div class="col-6 <%= task.completed == true ? "done" : "undone" %>">
        <%= task.name %>
      </div>
      <div class="col-2" data-mot-id="<%= mot.id %>" data-task-id="<%= task.id %>">
       <i class="fas fa-info-circle mx-1" id="bulle" data-toggle="tooltip" data-placement="top" title="<%= task.description %>"></i>
       <i class="fas fa-edit mx-1" data-action="click->edittask#editTask"></i>
        <i class="fa fa-trash mx-1" data-action="click->edittask#destroyTask"></i>
      </div>
    </div>
  </div>
    <div class="collapse" id="collapseExample-<%= task.id%>" >
      <%= render "mots/show_mot_task_trigger.html.erb", task: task, mot: mot %>
    </div>
  <% end %>
  <% else %>
<div class="container border mt-2">
  <div class="row align-items-center" style="height: 50px" data-target="edittask.wrapper">
      <div class="col-12">
  <%= 'No task yet' %>
      </div>
  </div>
</div>
  <% end %>
</div>
<div class="container mt-2" id='wrappernewtask'>
  <div class="row align-items-center" style="height: 50px" data-controller="newtask" data-mot-id="<%= mot.id %>">
      <div class="col-4">
       <p data-action="click->newtask#createTask"><i class="fas fa-plus " ></i>   <strong>Add a Task</strong></p>
      </div>
  </div>
</div>
