<div class="container p-4">
<div data-controller="editmot" data-mot-id="<%= mot.id %>">
  <div class="row align-items-center" style="height: 50px" >
    <div class="col-10" data-target="editmot.wrapper">
      <h1 class="my-3 text-center"><%= mot.emoticon %> <%= mot.name %></h1><i class="fas fa-edit" data-action="click->editmot#editMot"></i><%= link_to raw('<i class="fa fa-trash"></i>'), mot_path(mot), method: :delete, remote: true %>
    </div>
    <div class="col-1" >

    </div>
    <div class="col-1">

      <!-- <i class="fa fa-trash" data-action="click->editmot#destroyMot"></i> -->
    </div>
</div>
  <div class="row align-items-center" style="height: 100px">
    <div class="col-2">
      <h2 class="badge badge-secondary"><%= mot.duedate %></h2>
    </div>
    <div class="col-6">
    </div>
    <div class="col-4">
    <% if mot.tasks.count > 0 %>
      <div class="progress">
        <% arraycompleted = mot.tasks.reject {|task| task.completed == false} %>
        <% percentage = arraycompleted.count.to_f  / mot.tasks.count.to_f * 100 %>
        <div class="progress-bar" role="progressbar" style="width: <%= percentage.to_i %>%;" aria-valuenow="<%= percentage %>%" aria-valuemin="0" aria-valuemax="100"><%= percentage.to_i%>%</div>
      </div>
    <% end %>
    </div>
  </div>
                <div id="editor"><%= mot.description %></div>
                <script>
                        ClassicEditor
                                .create( document.querySelector( '#editor' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script>
  <div data-controller="checktask" data-target="checktask.wrapper">
    <%= render "mots/show_mot_task.html.erb", mot: mot %>
  </div>
</div>
</div>
