<div id='tasks'>
  <% if mot.tasks.any? %>
  <% mot.tasks.each do |task| %>
  <div class="container border mt-2" data-controller="edittask" data-mot-id="<%= mot.id %>" data-task-id="<%= task.id %>" >
    <div class="row" data-target="edittask.wrapper">
      <div class="col-2 pt-4">
        <%= 'D+' + task.delay.to_s %>
      </div>
      <div class="col-1 pt-4" >
      <input type="checkbox" <%= task.completed == true ? "checked" : "" %> data-action="click->checktask#checkboxTask" >
      </div>
        <a class="col-1 pt-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
       <i class="fas fa-caret-right"></i>
      </a>
      <div class="col-3 pt-4" >
        <%= task.name %>
      </div>
      <div class="col-4 pt-4">
        <%= task.description %>
      </div>
      <div class="flex-center mt-4" data-mot-id="<%= mot.id %>" data-task-id="<%= task.id %>">
       <i class="fas fa-edit" data-action="click->edittask#editTask"></i>
      </div>
    </div>
  </div>
    <div class="collapse" id="collapseExample">
      <%= render "mots/show_mot_task_trigger.html.erb", task: task, mot: mot %>
    </div>
  <% end %>
  <% else %>
  <%= 'No task yet' %>

  <% end %>
</div>
<div >
  <div class="flex-center mt-4" data-controller="newtask" data-mot-id="<%= mot.id %>">
       <p data-action="click->newtask#createTask"><i class="fas fa-plus" ></i> Add a Task</p>
  </div>
    <div id='wrappernewtask'></div>
</div>
<hr class="my-4">
