<div class="container p-4">
<div data-controller="editmot" data-mot-id="<%= mot.id %>">
  <div class="row align-items-center" style="height: 50px" >
    <div class="col-10" data-target="editmot.wrapper">
      <h1 class="my-3 text-center"><%= mot.emoticon %> <%= mot.name %></h1>
    </div>
    <div class="col-1" >
      <i class="fas fa-edit mx-1" data-action="click->editmot#editMot"></i>
      <%= link_to raw('<i class="far fa-trash-alt"></i>'), mot_path(mot), method: :delete, remote: true %>
    </div>
</div>
  <div class="row align-items-center" style="height: 100px">
    <div class="col-2"></div>
    <div class="col-4 my-4 mot-meta">
      <h2>
        <span class="date">
        <span class="month">
        <%= mot.duedate.strftime("%B") %>
        </span>
        <span class="day">
        <%= mot.duedate.day %>
        </span>
        </span>
      </h2>
    <% if mot.tasks.count > 0 %>
      <div class="progress">
        <% arraycompleted = mot.tasks.reject {|task| task.completed == false} %>
        <% percentage = arraycompleted.count.to_f  / mot.tasks.count.to_f * 100 %>
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= percentage.to_i %>%;" aria-valuenow="<%= percentage %>%" aria-valuemin="0" aria-valuemax="100"><%= percentage.to_i%>%</div>
      </div>
    <% end %>
    </div>
    <div class="col-2"></div>
  </div>
                <div id="editor"><%= mot.description %></div>
                <script>
                        ClassicEditor
                                .create( document.querySelector( '#editor' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script>
  <div data-controller="checktask" data-target="checktask.wrapper">
    <%= render "mots/show_mot_task.html.erb", mot: mot %>
  </div>
</div>
</div>

