<% if task.triggers.any? %>
<table>
  <tbody>
    <thead>
      <tr>
        <th class="first-column" scope="col"></th>
        <th class="type-column" scope="col"></th>
        <th class="message-column" scope="col"></th>
        <th class="edit-column" scope="col"></th>
      </tr>
    </thead>
    <% task.triggers.each do |trigger| %>
    <tr data-controller="edittrigger" data-mot-id="<%= mot.id %>" data-task-id="<%= task.id %>" data-trigger-id="<%= trigger.id %>" data-target="edittrigger.wrapper">
      <th scope="row" ></th>
      <td>
        <%  if trigger.feature == "mail"
          icon = "far fa-envelope"
        elsif trigger.feature == "slack"
          icon = "fab fa-slack-hash"
        elsif trigger.feature == "whatsapp"
          icon = "fab fa-whatsapp"
          end %>
          <i class="<%= icon %>"></i>
      </td>
      <td>
        <%= trigger.url %>
      </td>
      <td data-mot-id="<%= mot.id %>"
          data-task-id="<%= task.id %>"
          data-trigger-id="<%= trigger.id %>"
          class="edit-column-content">
        <i class="fas fa-edit" data-action="click->edittrigger#editTrigger"></i>
      </td>
     </tr>
   <% end %>
 </tbody>
</table>
<% else %>

<div class="row align-items-center" style="height: 50px">
  <div class="col-1"></div>
  <div class="col-6" data-target='newtrigger.wrapper'>
   <p>No trigger yet</p>
 </div>
</div>
<% end %>
<div class="row align-items-center" style="height: 50px" data-controller="newtrigger" data-task-id="<%= task.id %>" data-mot-id="<%= mot.id %>">
  <div class="col-1"></div>
  <div class="col-6" data-target='newtrigger.wrapper'>
   <p data-action="click->newtrigger#createTrigger"><i class="fas fa-plus"></i> Add a Trigger</p>
 </div>
</div>
