<div class="container p-4">
  <h1>Dashboard - Here are your tasks of the week</h1>
</div>

<div id='tasks'>
  <% if tasks.any? %>
  <% tasks.each do |task| %>
  <div class="container border mt-2" data-controller="edittask" data-mot-id="<%= task.mot.id %>" data-task-id="<%= task.id %>" >
    <div class="row align-items-center p-3" data-target="edittask.wrapper">
        <div class="col-1 " >
        <h3>
        <span class="date">
        <span class="month">
        <%= (task.mot.duedate+task.delay).strftime("%B") %>
        </span>
        <span class="day">
        <%= (task.mot.duedate+task.delay).day %>
        </span>
        </span>
      </h2>
      </div>
      <div class="col-1 ">
          <input class="form-control custom-check" type="checkbox" <%= task.completed == true ? "checked" : "" %> data-action="click->checktask#checkboxTask" data-mot-id="<%= task.mot.id %>" data-task-id="<%= task.id %>">
      </div>
      <div class="col-2 " >
        <%= task.mot.emoticon %> <%= task.mot.name %>
      </div>
      <a class="col-1 " data-toggle="collapse" href="#collapseExample-<%= task.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
       <i class="fas fa-caret-right"></i>
      </a>
      <div class="col-4">
        <%= task.name %>
      </div>
      <div class="col-1 " >
        <h2 class="badge badge-secondary"><%= task.mot.tag %></h2>
      </div>
      <div class="col-2" data-mot-id="<%= task.mot.id %>" data-task-id="<%= task.id %>">
       <i class="fas fa-info-circle mx-1" data-toggle="tooltip" data-placement="top" title="<%= task.description %>"></i>
       <i class="fas fa-edit mx-1" data-action="click->edittask#editTask"></i>
       <i class="far fa-trash-alt mx-1" data-action="click->destroytask#destroyTask"></i>
      </div>
    </div>
  </div>
    <div class="collapse" id="collapseExample-<%= task.id%>" >
      <%= render "mots/show_mot_task_trigger.html.erb", task: task, mot: task.mot %>
    </div>
  <% end %>
  <% end %><hr class="my-4">


