
      <div class="row">
        <div class="col-md-2">
          <h1 class="my-3 text-center">My Mots</h1>
          <%= form_tag mots_path, class: 'search-style form-inline', method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
            placeholder: "Search"
            %>
          <% end %>
            <% @mots.each do |mot| %>
              <%= link_to mot_path(mot), remote: true do %>
              <p><%= mot.emoticon %> <%= mot.name %></p>
              <% end %>
            <% end %>
            <%= link_to "New Mot", new_mot_path, remote: true %>
        </div>
          <div class="col-md-10">
           <p>Mot number 1 (insert show here)</p>
         </div>
         <hr class="my-4">
       </div>
