<div class="row d-flex">
  <div class="main-sidebar-fixed col-1">
    <h1 class="sidebar-title">My Mots</h1>
    <%= form_tag mots_path, class: 'search-style form-inline ml-4', method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search"
    %>
    <% end %>
    <% @mots.each do |mot| %>
    <div class=" list-group-item-action active">
      <div class="sidebar-card ml-4">
        <div class="flex-center mt-1" data-controller="showmot" data-action="click->showmot#renderMot" data-mot-id="<%= mot.id %>" >
          <p class= "sidebar-mot-name"><%= mot.emoticon %> <%= mot.name %></p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="sidebar-card ml-4 flex-center mt-4" data-controller="newmot">
      <p class= "sidebar-mot-name" data-action="click->newmot#createMot"><i class="fas fa-plus"></i> Add a MOT</p>

    </div>
  </div>
  <div class="col-10 col-md-9">
    <div id="wrappermot">
      <% unless @mots.empty? %>
      <%= render "show_mot", mot: @mots.first  %>
      <% end %>
    </div>
  </div>
  <hr class="my-4">
</div>
