<div class="row">
  <div class="main-sidebar-fixed col-2" data-controller="sidebar">
       <% if user_signed_in? %>
          <div class="flex-center m-2">
            <%= link_to "My Dashboard",root_path, class: "sidebar-mot-name-db" %>
          </div>
       <% end %>

    <div class="search-card mb-4 ml-4">
      <%= form_tag mots_path, class: 'search-style form-inline ml-2', method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control center ",
      placeholder: "Search"%>
      <% end %>
    </div>
    <% @mots.each do |mot| %>
      <div class="list-group-item-action">
      <div class="sidebar-card ml-2">
        <div class="flex-center m-2" data-controller="showmot" data-action="click->showmot#renderMot" data-mot-id="<%= mot.id %>" >
          <p class= "sidebar-mot-name"><%= mot.emoticon %> <%= mot.name %></p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="list-group-item-action">
      <div class="sidebar-card ml-4 flex-center my-1" data-controller="newmot">
        <p class= "sidebar-mot-name" data-action="click->newmot#createMot"><i class="fas fa-plus"></i> Add a MOT</p>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-9">
    <div id="wrappernewmot">
      <% unless @mots.empty? %>
      <%= render "show_mot_homepage", tasks: @tasks  %>
      <% end %>
    </div>
  </div>
  <hr class="my-4">
</div>
