
<%= simple_form_for [@mot, @task, @trigger], html: { data: {action: "ajax:success->addtask#addTask ajax:error->addtask#validateTask", controller: "addtask"}}, remote: true   do |f| %>
    <tr>
      <th scope="row m-2" ></th>
      <td>
        <%= f.input :feature, class: "form-control", prompt: 'Type', collection: (["mail", "slack", "whatsapp"]), label: false, error: 'A feature is mandatory, please specify one' %>
      </td>
      <td>
        <%= f.input :name, placeholder: 'Destinary', label: false, error: 'A name is mandatory, please specify one' %>
      </td>
      <td>
        <%= f.input :url, placeholder: 'Content', label: false, error: 'A description is mandatory, please specify one' %>
      </td>
      <td>
          <%= f.submit 'Save', class: "button-1" %>
      </td>
     </tr>
<% end %>
