
        <%= simple_form_for [@mot, @task, @trigger], html: { data: {action: "ajax:success->addtask#addTask ajax:error->addtask#validateTask", controller: "addtask"}}, remote: true   do |f| %>
          <div class="row align-items-center" style="height: 50px">
              <div class="col-4">
                <%= f.input :name, placeholder: 'Trigger title', label: false, error: 'A name is mandatory, please specify one' %>
              </div>
              <div class="col-4">
                <%= f.input :url, placeholder: 'Trigger content', label: false, error: 'A description is mandatory, please specify one' %>
              </div>
              <div class="col-2 from-control">
                <%= f.select :feature, options_for_select(["mail", "slack", "whatsapp"]), label: false, error: 'A feature is mandatory, please specify one' %>
              </div>
              <div class="col-2">
             <%= f.submit 'Save', class: "btn-primary" %>
              </div>
            </div>
        <% end %>

